
/* INDEX */

.hero__sub{
    color: #3587a4;
}

/* carrusel */

.carrusel{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 100vw;
}

.carousel{
    max-width: 800px;
}

.carousel-item{
    height: 500px;
    
}

/* FIN INDEX */